<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE element PUBLIC "WUI Element Definition" "http://www.robertkoszewski.com/dtd/element.alpha.4.dtd">
<element>
	<html>
		<div class="wui-border-layout">
			<div class="north"></div>
			<div class="center">
				<div class="west"></div>
				<div class="center"></div>
				<div class="east"></div>
			</div>
			<div class="south"></div>
		  </div>
	</html>
	
	<initialize>
		<script>
			$node = $(node);
			// Set Children Definition (This should be done somehow automatically later)
			node._wuidata = {
				container: {
					north: $node.find('.north')[0],
					center: $node.find('.center > .center')[0],
					west: $node.find('.west')[0],
					east: $node.find('.east')[0],
					south: $node.find('.south')[0],
				}
			}
		</script>
	</initialize>
	
	<set-data>
		<script>
		</script>
	</set-data>

</element>