<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE element PUBLIC "WUI Element Definition" "http://www.robertkoszewski.com/dtd/element.alpha.4.dtd">
<element>
	<html>
		<div>VALID</div>
		<div>INVALID</div>
	</html>
	
	<html> <!-- TOTALLY INVALID -->
		<div>AGAIN?</div>
		<div>NOPE</div>
	</html>
	
	<set-data>
		<script>
			function whatever();
		</script>
		<script></script>
		<div></div>
		<script></script>
	</set-data>
	
	<initialize>
		<script></script>
		<script></script>
	</initialize>
</element>