/* Base Style */
html, body{
    display: flex;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}


/* Border Layout */
.wui-border-layout{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.wui-border-layout > div.center{
	display: flex;
	flex-grow: 1;
}

.wui-border-layout > div.center > div.center{
	flex-grow: 1;
}